deploymentMode: SingleBinary

loki:
  auth_enabled: false
  storage:
    type: s3
    bucketNames:
      chunks: xflow-loki-logs
      ruler: xflow-loki-logs
      admin: xflow-loki-logs
    s3:
      region: ap-northeast-2
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h
  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki-data

serviceAccount:
  create: true
  name: loki
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::134059028370:role/xflow-loki-s3

singleBinary:
  replicas: 1
  persistence:
    enabled: false
  extraVolumes:
    - name: loki-data
      emptyDir: {}
  extraVolumeMounts:
    - name: loki-data
      mountPath: /var/loki-data

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: false

test:
  enabled: false

chunksCache:
  enabled: false
resultsCache:
  enabled: false
