apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: xflow
data:
  MONGODB_URL: "mongodb://mongo:mongo@mongodb:27017"
  MONGODB_DATABASE: "mydb"
  CORS_ORIGINS: "http://localhost:5173,http://localhost:3000"
