apiVersion: sparkoperator.k8s.io/v1beta2
kind: SparkApplication
metadata:
  name: etl-job-{{ job_id }}
  namespace: spark-jobs
spec:
  type: Python
  pythonVersion: "3"
  mode: cluster
  image: 134059028370.dkr.ecr.ap-northeast-2.amazonaws.com/xflow-spark:latest
  imagePullPolicy: Always
  mainApplicationFile: local:///opt/spark/jobs/etl_runner.py
  arguments:
    - "{{ config_json }}"
  sparkVersion: "3.5.0"

  sparkConf:
    spark.sql.shuffle.partitions: "24"
    spark.memory.fraction: "0.6"
    spark.hadoop.fs.s3a.impl: "org.apache.hadoop.fs.s3a.S3AFileSystem"
    spark.hadoop.fs.s3a.aws.credentials.provider: "com.amazonaws.auth.WebIdentityTokenCredentialsProvider"

  driver:
    cores: 2
    memory: "4g"
    serviceAccount: spark-sa
    nodeSelector:
      node-type: spark
      lifecycle: spot
    tolerations:
      - key: spark-only
        operator: Equal
        value: "true"
        effect: NoSchedule
    env:
      - name: AWS_REGION
        value: ap-northeast-2

  executor:
    cores: 6
    instances: 2
    memory: "26g"
    nodeSelector:
      node-type: spark
      lifecycle: spot
    tolerations:
      - key: spark-only
        operator: Equal
        value: "true"
        effect: NoSchedule
    env:
      - name: AWS_REGION
        value: ap-northeast-2

  restartPolicy:
    type: OnFailure
    onFailureRetries: 3
    onFailureRetryInterval: 10
    onSubmissionFailureRetries: 3
