apiVersion: sparkoperator.k8s.io/v1beta2
kind: SparkApplication
metadata:
  name: yellow-taxi-loader-test
  namespace: spark-jobs
spec:
  type: Python
  pythonVersion: "3"
  mode: cluster
  image: 134059028370.dkr.ecr.ap-northeast-2.amazonaws.com/xflow-spark:latest
  imagePullPolicy: Always
  mainApplicationFile: local:///opt/spark/jobs/yellow_taxi_loader.py
  arguments:
    - "--years"
    - "2024"  # Only 2024 for testing
    - "--s3-bucket"
    - "xflow-benchmark"
    - "--s3-prefix"
    - "yellow_taxi_test"
    - "--s3-output"
    - "s3a://xflow-benchmark/yellow_taxi_test/processed/"
    - "--format"
    - "parquet"
    - "--partitions"
    - "50"
    - "--use-iam-role"
  sparkVersion: "3.5.0"

  sparkConf:
    spark.sql.shuffle.partitions: "100"
    spark.sql.adaptive.enabled: "true"
    spark.sql.adaptive.coalescePartitions.enabled: "true"
    spark.memory.fraction: "0.6"
    spark.hadoop.fs.s3a.impl: "org.apache.hadoop.fs.s3a.S3AFileSystem"
    spark.hadoop.fs.s3a.aws.credentials.provider: "com.amazonaws.auth.WebIdentityTokenCredentialsProvider"
    spark.hadoop.fs.s3a.endpoint: "s3.ap-northeast-2.amazonaws.com"
    spark.hadoop.fs.s3a.fast.upload: "true"
    spark.hadoop.fs.s3a.fast.upload.buffer: "disk"
    spark.serializer: "org.apache.spark.serializer.KryoSerializer"
    spark.network.timeout: "600s"

  driver:
    cores: 2
    memory: "8g"
    serviceAccount: spark-sa
    nodeSelector:
      node-type: spark
      lifecycle: spot
    tolerations:
      - key: spark-only
        operator: Equal
        value: "true"
        effect: NoSchedule
    env:
      - name: AWS_REGION
        value: ap-northeast-2

  executor:
    cores: 4
    instances: 2
    memory: "8g"
    nodeSelector:
      node-type: spark
      lifecycle: spot
    tolerations:
      - key: spark-only
        operator: Equal
        value: "true"
        effect: NoSchedule
    env:
      - name: AWS_REGION
        value: ap-northeast-2

  restartPolicy:
    type: OnFailure
    onFailureRetries: 2
    onFailureRetryInterval: 10
    onSubmissionFailureRetries: 2
