{{- if .Values.backend.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  labels:
    app: backend
    {{- include "xflow.labels" . | nindent 4 }}
type: Opaque
stringData:
  MONGODB_URL: {{ include "xflow.mongodbUrl" . | quote }}
{{- end }}
