{{- if .Values.opensearch.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: opensearch
  labels:
    app: opensearch
    {{- include "xflow.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: opensearch
  ports:
    - port: 9200
      targetPort: 9200
      protocol: TCP
      name: http
    - port: 9600
      targetPort: 9600
      protocol: TCP
      name: transport
{{- end }}
